node-red_flow.json
[{"id":"25a1ba5.a9273c6","type":"tab","label":"SmartCartIn","disabled":false,"info":""},{"id":"f7987196.1ea06","type":"tab","label":"SmartCarPOST","disabled":false,"info":""},{"id":"93d01dc7.fb4bc","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8b13a091.7e6e7","type":"ui_group","z":"","name":"Arduino","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"1db13016.bd7918","type":"mqtt-broker","z":"","name":"Trunky","broker":"192.168.4.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8623ba13.23642","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c04a5949.bc7de","type":"mqtt-broker","z":"","name":"Trunky","broker":"192.168.5.57","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"26bc26e8.584a82","type":"ui_group","z":"","name":"Control","tab":"","order":2,"disp":true,"width":"6"},{"id":"b2312288.219a78","type":"ui_group","z":"","name":"Stations","tab":"","order":1,"disp":true,"width":"6"},{"id":"d18e5c56.c3724","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"f044c705.a1cad8","type":"ui_group","z":"","name":"Frame10","tab":"a7f48e52.b31fe","order":1,"disp":false,"width":"6"},{"id":"a7f48e52.b31fe","type":"ui_tab","z":"","name":"Powered by IBM WeatherCompany","icon":"dashboard"},{"id":"34f6a80c.7f8e38","type":"ui_group","z":"","name":"Frame30","tab":"a7f48e52.b31fe","order":3,"disp":false,"width":"6"},{"id":"d3db3a4e.c7bd38","type":"ui_group","z":"","name":"Frame20","tab":"a7f48e52.b31fe","order":2,"disp":false,"width":"6"},{"id":"c3c7f8bc.f79258","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"17b51769.5681f9","type":"ui_group","z":"","name":"Frame 40","tab":"a7f48e52.b31fe","order":4,"disp":false,"width":"6"},{"id":"d42ada1f.5db7c","type":"telegram bot","z":"","botname":"@AV02bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"124c5745.94b279","type":"http request","z":"f7987196.1ea06","name":"POST","method":"POST","ret":"txt","paytoqs":false,"url":"https://smartcar-demo.mybluemix.net/commands","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":420,"wires":[[]]},{"id":"ecfbe5f5.ba1a4","type":"inject","z":"f7987196.1ea06","name":"MostraMapaComida","topic":"","payload":"{\"action\": \"mostrarMapaComida\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":500,"wires":[["124c5745.94b279"]]},{"id":"e74c0ebe.2a6268","type":"inject","z":"f7987196.1ea06","name":"","topic":"","payload":"{\"action\": \"tocarJazz\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["124c5745.94b279"]]},{"id":"7b095836.a7c8c","type":"inject","z":"f7987196.1ea06","name":"LigAquecedorAlto","topic":"","payload":"{\"action\": \"ligarAquecedorAlto\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":440,"wires":[["124c5745.94b279"]]},{"id":"45cf3b1d.090ed4","type":"inject","z":"f7987196.1ea06","name":"LigLimpadorDevagar","topic":"","payload":"{\"action\": \"ligarLimpadorDevagar\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":180,"wires":[["124c5745.94b279"]]},{"id":"d83b6dab.2fbe","type":"inject","z":"f7987196.1ea06","name":"Chover","topic":"","payload":"{\"action\": \"ligarDesligarChuva\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":300,"wires":[["124c5745.94b279"]]},{"id":"e2fd2c9d.6aff58","type":"inject","z":"f7987196.1ea06","name":"LigaFarol","topic":"","payload":"{\"action\": \"ligarFarol\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":500,"wires":[["124c5745.94b279"]]},{"id":"48d359e8.c8c66","type":"inject","z":"f7987196.1ea06","name":"DesligarFarol","topic":"","payload":"{\"action\": \"desligarFarol\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":540,"wires":[["124c5745.94b279"]]},{"id":"b6a17c84.2599","type":"comment","z":"f7987196.1ea06","name":"","info":"https://smartcar-demo.mybluemix.net/\n\"tocarJazz\"\n\"tocarPop\"\n\"tocarRock\"\n\"tocarTudo\"\n\"ligarArAlto\"\n\"ligarArBaixo\"\n\"ligarAquecedorAlto\"\n\"mostrarMapaComida\"\n\"mostrarMapaPosto\"\n\"mostrarMapaComidaNumeros\"\n\"desligarFarol\"\n\"ligarFarol\"\n\"ligarLimpadorDevagar\"\n\"ligarLimpadorRapido\"\n\"desligarLimpador\"\n\"ligarDesligarChuva\"\n","x":400,"y":60,"wires":[]},{"id":"e9183a5e.2c6f6","type":"inject","z":"f7987196.1ea06","name":"TocarPop","topic":"","payload":"{\"action\": \"tocarPop\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":220,"wires":[["124c5745.94b279"]]},{"id":"389b1e8.79bda62","type":"inject","z":"f7987196.1ea06","name":"TocarRock","topic":"","payload":"{\"action\": \"tocarRock\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":260,"wires":[["124c5745.94b279"]]},{"id":"28c2cbd8.eea754","type":"inject","z":"f7987196.1ea06","name":"TocarPlayList","topic":"","payload":"{\"action\": \"tocarTudo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["124c5745.94b279"]]},{"id":"1e7fd4b0.30d7d3","type":"inject","z":"f7987196.1ea06","name":"LigarArAlto","topic":"","payload":"{\"action\": \"ligarArAlto\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["124c5745.94b279"]]},{"id":"f35e7925.c06588","type":"inject","z":"f7987196.1ea06","name":"LigarArBaixo","topic":"","payload":"{\"action\": \"ligarArBaixo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":400,"wires":[["124c5745.94b279"]]},{"id":"85f4d07d.90ffa","type":"inject","z":"f7987196.1ea06","name":"MostraMapaPosto","topic":"","payload":"{\"action\": \"mostrarMapaPosto\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":540,"wires":[["124c5745.94b279"]]},{"id":"f43bb128.7e2c2","type":"inject","z":"f7987196.1ea06","name":"MostraMapaComidaNumeros","topic":"","payload":"{\"action\": \"mostrarMapaComidaNumeros\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":580,"wires":[[]]},{"id":"d1f55519.0bfe7","type":"inject","z":"f7987196.1ea06","name":"LigLimpadorRapido","topic":"","payload":"{\"action\": \"ligarLimpadorRapido\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":220,"wires":[["124c5745.94b279"]]},{"id":"3e0f195e.219756","type":"inject","z":"f7987196.1ea06","name":"desligarLimpador","topic":"","payload":"{\"action\": \"desligarLimpador\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":260,"wires":[["124c5745.94b279"]]},{"id":"5d01a411.637894","type":"telegram receiver","z":"25a1ba5.a9273c6","name":"","bot":"d42ada1f.5db7c","saveDataDir":"","x":110,"y":40,"wires":[["3b32aeec.949022"],[]]},{"id":"3b32aeec.949022","type":"function","z":"25a1ba5.a9273c6","name":"GetChatParameters","func":"global.set(\"mensagem\",msg.payload);\nglobal.set(\"ChatId\",msg.payload.chatId);\nglobal.set(\"tipo\",msg.payload.type);\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["c6e02e9a.7a6e28","6d0fc401.063524"]]},{"id":"c6e02e9a.7a6e28","type":"debug","z":"25a1ba5.a9273c6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":80,"wires":[]},{"id":"6d0fc401.063524","type":"switch","z":"25a1ba5.a9273c6","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"message","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":280,"wires":[["88f8f30e.53446"],["1ba439df.9edb1e"]]},{"id":"88f8f30e.53446","type":"function","z":"25a1ba5.a9273c6","name":"PegaAudio","func":"msg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["a0a21f8.212086"]]},{"id":"1ba439df.9edb1e","type":"function","z":"25a1ba5.a9273c6","name":"PegaTexto","func":"msg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["c46121e9.ffb32"]]},{"id":"a0a21f8.212086","type":"ffmpeg-conversion","z":"25a1ba5.a9273c6","name":"","format":"wav","audiochannels":"mono","x":410,"y":200,"wires":[["5e2b71c8.e12f5"]]},{"id":"5e2b71c8.e12f5","type":"watson-speech-to-text","z":"25a1ba5.a9273c6","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"","payload-response":true,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":540,"y":260,"wires":[["c46121e9.ffb32"]]},{"id":"18adec55.739d2c","type":"function","z":"25a1ba5.a9273c6","name":"","func":"if (msg.payload == \"/start\")\n{\nmsg.lang.language = \"pt\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":70,"y":420,"wires":[[]]},{"id":"12cc4e75.7de892","type":"switch","z":"25a1ba5.a9273c6","name":"","property":"payload.output.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"tocarJazz","vt":"str"},{"t":"eq","v":"tocarPop","vt":"str"},{"t":"eq","v":"tocarRock","vt":"str"},{"t":"eq","v":"tocarTudo","vt":"str"},{"t":"eq","v":"ligarArAlto","vt":"str"},{"t":"eq","v":"ligarArBaixo","vt":"str"},{"t":"eq","v":"ligarAquecedorAlto","vt":"str"},{"t":"eq","v":"mostrarMapaComida","vt":"str"},{"t":"eq","v":"mostrarMapaPosto","vt":"str"},{"t":"eq","v":"desligarFarol","vt":"str"},{"t":"eq","v":"ligarFarol","vt":"str"},{"t":"eq","v":"ligarLimpadorDevagar","vt":"str"},{"t":"eq","v":"ligarLimpadorRapido","vt":"str"},{"t":"eq","v":"desligarLimpador","vt":"str"},{"t":"eq","v":"ligarDesligarChuva","vt":"str"}],"checkall":"true","repair":false,"outputs":15,"x":450,"y":620,"wires":[["226da9c6.dbd50e"],["478dd7f6.63db6"],["f3006358.1b6c38"],["a6e5f979.5c2dc"],["25466d.50810194"],["6d540162.e00ce8"],["b7978eee.6ab74"],["d10122bc.299218"],["ffdc5836.7ca2a"],["cf73e47c.d51ab8"],["b46dd53f.4f033"],["236df812.e9d04"],["d5513212.739bf8"],["f6ade5d6.c3a24"],["b31c8bb8.e4dd48"]]},{"id":"eb45618b.b85468","type":"debug","z":"25a1ba5.a9273c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.output.intents","targetType":"msg","x":620,"y":440,"wires":[]},{"id":"d6694c2c.8fdbd8","type":"link out","z":"25a1ba5.a9273c6","name":"EmotionEng","links":["b0e1c9e7.f9c638"],"x":175,"y":380,"wires":[]},{"id":"919058d8.155cd","type":"function","z":"f7987196.1ea06","name":"Echo","func":"msg.payload={\"action\":\"ligarArAlto\"};\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":140,"wires":[["124c5745.94b279"]]},{"id":"71adda24.9d01d4","type":"inject","z":"f7987196.1ea06","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":140,"wires":[["919058d8.155cd"]]},{"id":"c46121e9.ffb32","type":"watson-assistant-v2","z":"25a1ba5.a9273c6","name":"","service-endpoint":"","assistant_id":"0291f66f-d966-4274-a2cc-f24cb35950d5","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":430,"y":380,"wires":[["eb45618b.b85468","12cc4e75.7de892"]]},{"id":"226da9c6.dbd50e","type":"function","z":"25a1ba5.a9273c6","name":"tocarJazz","func":"msg.payload={\"action\":\"tocarJazz\"};\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":520,"wires":[["4aa93574.1c2cc4"]]},{"id":"478dd7f6.63db6","type":"function","z":"25a1ba5.a9273c6","name":"tocarPop","func":"msg.payload={\"action\":\"tocarPop\"};\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":560,"wires":[["4aa93574.1c2cc4"]]},{"id":"f3006358.1b6c38","type":"function","z":"25a1ba5.a9273c6","name":"tocarRock","func":"msg.payload={\"action\":\"tocarRock\"};\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":600,"wires":[["4aa93574.1c2cc4"]]},{"id":"a6e5f979.5c2dc","type":"function","z":"25a1ba5.a9273c6","name":"tocarTudo","func":"msg.payload={\"action\":\"tocarTudo\"};\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":640,"wires":[["4aa93574.1c2cc4"]]},{"id":"25466d.50810194","type":"function","z":"25a1ba5.a9273c6","name":"ligarArAlto","func":"msg.payload={\"action\":\"ligarArAlto\"};\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":680,"wires":[["4aa93574.1c2cc4"]]},{"id":"6d540162.e00ce8","type":"function","z":"25a1ba5.a9273c6","name":"ligarArBaixo","func":"msg.payload={\"action\":\"ligarArBaixo\"};\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":720,"wires":[["4aa93574.1c2cc4"]]},{"id":"b7978eee.6ab74","type":"function","z":"25a1ba5.a9273c6","name":"ligarAquecedorAlto","func":"msg.payload={\"action\":\"ligarAquecedorAlto\"};\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":760,"wires":[["4aa93574.1c2cc4"]]},{"id":"d10122bc.299218","type":"function","z":"25a1ba5.a9273c6","name":"mostrarMapaComida","func":"msg.payload={\"action\":\"mostrarMapaComida\"};\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":800,"wires":[["4aa93574.1c2cc4"]]},{"id":"ffdc5836.7ca2a","type":"function","z":"25a1ba5.a9273c6","name":"mostrarMapaPosto","func":"msg.payload={\"action\":\"mostrarMapaPosto\"};\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":840,"wires":[["4aa93574.1c2cc4"]]},{"id":"cf73e47c.d51ab8","type":"function","z":"25a1ba5.a9273c6","name":"desligarFarol","func":"msg.payload={\"action\":\"desligarFarol\"};\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":880,"wires":[["4aa93574.1c2cc4"]]},{"id":"b46dd53f.4f033","type":"function","z":"25a1ba5.a9273c6","name":"ligarFarol","func":"msg.payload={\"action\":\"ligarFarol\"};\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":920,"wires":[["4aa93574.1c2cc4"]]},{"id":"236df812.e9d04","type":"function","z":"25a1ba5.a9273c6","name":"ligarLimpadorDevagar","func":"msg.payload={\"action\":\"ligarLimpadorDevagar\"};\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":960,"wires":[["4aa93574.1c2cc4"]]},{"id":"d5513212.739bf8","type":"function","z":"25a1ba5.a9273c6","name":"ligarLimpadorRapido","func":"msg.payload={\"action\":\"ligarLimpadorRapido\"};\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1000,"wires":[["4aa93574.1c2cc4"]]},{"id":"b31c8bb8.e4dd48","type":"function","z":"25a1ba5.a9273c6","name":"ligarDesligarChuva","func":"msg.payload={\"action\":\"ligarDesligarChuva\"};\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1080,"wires":[["4aa93574.1c2cc4"]]},{"id":"f6ade5d6.c3a24","type":"function","z":"25a1ba5.a9273c6","name":"desligarLimpador","func":"msg.payload={\"action\":\"desligarLimpador\"};\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1040,"wires":[["4aa93574.1c2cc4"]]},{"id":"25cd3b75.ae79fc","type":"function","z":"25a1ba5.a9273c6","name":"ligarLimpadorDevagar","func":"msg.payload={\"action\":\"ligarLimpadorDevagar\"};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1200,"wires":[[]]},{"id":"4aa93574.1c2cc4","type":"link out","z":"25a1ba5.a9273c6","name":"fluxo1","links":["2f75860e.54b18a"],"x":995,"y":800,"wires":[]},{"id":"2f75860e.54b18a","type":"link in","z":"f7987196.1ea06","name":"","links":["4aa93574.1c2cc4"],"x":635,"y":80,"wires":[["124c5745.94b279","3d803346.221b6c"]]},{"id":"3d803346.221b6c","type":"debug","z":"f7987196.1ea06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":40,"wires":[]}]
